{% if form.bonusPoints is defined %}
    <div id="bitbag-bonus-points">
        <div class="ui coupon action input">
            {{ form_widget(form.bonusPoints, {'attr': {'placeholder': 'bitbag_sylius_bonus_points.ui.bonus_points'|trans~'...'}}) }}
            <button type="submit" id="sylius-save" class="ui teal icon labeled button"><i class="ticket icon"></i> {{ 'bitbag_sylius_bonus_points.ui.apply_points'|trans }}</button>
        </div>
        <br>
        {{ form_errors(form.bonusPoints) }}
    </div>
{% endif %}
